@import "src/app/variables.module";

.pageHeader {
  background: $bg-blue-dark;
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 0 0 22px 22px;
  justify-content: space-between;
  .logoWrapper {
    padding: 34px 45px;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    p {
      color: white;
      text-decoration: none;
      position: relative;
      margin-left: 10px;
      top: -8px;
      font-size: 24px;
    }
  }
  .navigationWrapper {
    display: flex;
    flex-direction: row;
    padding: 50px 80px 0 0 ;
  }
}