@import 'src/app/variables.module';

.pageHeader {
  background: $bg-blue-dark;
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 0 0 22px 22px;
  justify-content: space-between;
  .logoWrapper {
    padding: 34px 45px;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
  }
  .navigationWrapper {
    display: flex;
    flex-direction: row;
    padding: 50px 80px 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .pageHeader {
    .logoWrapper {
      padding: 34px 8px 34px 30px;
    }
    .navigationWrapper {
      padding: 40px 0 0 0;
    }
  }
}
